html,
body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
    height: 90vh;
}

::-webkit-scrollbar {
    display: none;
    -webkit-appearance: none;
}

.split {
    position: absolute;
    width: 50%;
    height: 100%;
}

.left-box {
    left: 0;
}

.right-box {
    right: 0;
    overflow-y: scroll;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    font-size: 20px;
    background: #fff;
}