doctype html
html(lang='ja')
    head
        meta(charset="utf-8")
        title Unsigned_Signage
        meta(name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1")
        link(href="/css/style.css", rel="stylesheet")
        link(href="/css/swiper.min.css", rel="stylesheet")
        script(src="/js/index.js")

    body
        h1 Unsigned2019
        .split.left-box
            #time
            br
            h1 Now playing
            .djtime
                #DJtime
            br
            #DJ
            br
            .djicon
                img#icon(src="")
            br
            .scroll
                span    
                    #comment
        .split.right-box
            .swiper-container
                .swiper-wrapper
                    .swiper-slide
                        h1 ドリンク販売
                        ul
                            li コーラ
                            li スポーツドリンク
                            li お茶
                            li オレンジジュース
                        h2 100円！ステッカーゲット出来るぞ
                    .swiper-slide
                        h1 [DAY1] ANISONside
                        table
                            tbody
                                tr
                                    th 11:00-11:30
                                    td yakiya
                                tr
                                    th 11:30-12:10
                                    td 4mくん
                                tr  
                                    th 12:10-12:40
                                    td CELL
                                tr
                                    th 12:40-13:30
                                    td ごこめ
                                tr
                                    th 13:30-14:00
                                    td サブレ
                                tr
                                    th 14:00-14:30
                                    td 880
                                tr
                                    th 14:30-15:00
                                    td Hokke
                                tr
                                    th 15:00-15:30
                                    td みどり
                                tr
                                    th 15:30-16:20
                                    td ふぉん
                                tr
                                    th 16:20-16:50
                                    td ココイチ
                    .swiper-slide
                        h1 [DAY2] DANCEside
                        table
                            tbody
                                tr
                                    th 11:20-11:30
                                    td マイシパ95
                                tr
                                    th 11:30-12:00
                                    td TNB
                                tr
                                    th 12:00-12:30
                                    td 焼き揉み
                                tr
                                    th 12:30-13:00
                                    td kuma
                                tr
                                    th 13:00-13:30
                                    td だっしー
                                tr
                                    th 13:30-14:00
                                    td Shine
                                tr
                                    th 16:20-16:50
                                    td ココイチ
                                tr
                                    th 16:20-16:50
                                    td ココイチ
                                tr
                                    th 16:20-16:50
                                    td ココイチ        
                            
                                    

                    .swiper-slide
                        h1 Unsignedステッカー配布！
                // Add Pagination
                .swiper-pagination
        // Swiper JS
        script(src="/js/swiper.min.js")

        // Swiper
        script.
            var swiper = new Swiper('.swiper-container', {
            spaceBetween: 30,
            centeredSlides: true,
            autoplay: {
            delay: 5000,
            disableOnInteraction: false,
            },
            pagination: {
            el: '.swiper-pagination',
            clickable: true,
            },
            navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
            },
            });